html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --color-link: blue;
    --color-bg-intro: gold;
}

html {
    display: flex;
    flex-direction: column;
    min-height: 100vh
		    justify-content: center;
    align-items: center;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
survey-questions {
    width: 100%;
}

ls-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ls-screen[heavy] {
    font-size: 1.4rem;
}

nav {
    padding: 1rem;
}
nav[horizontal] {
    display: flex;
    flex-wrap: wrap;
}
nav[horizontal] nav-item a {
    padding: 1rem;
}
nav-item a {
    text-decoration: none;
    color: var(--color-link);
}
nav-item[focus] {
    font-weight: bold;
}
nav-item[unfocus] a {
    color: gray;
}
